<div id="registration-view">
	<div class='fieldset'>
	<legend>Register</legend>
		<form action="#" method="post" data-validate="parsley">
			<div class='row'>
				<label for='username'>Username</label>
				<input type="text" placeholder="Username" name='username' id='username' data-required="true" data-error-valid="Username is not valid" data-min="6" data-max="15" data-error-len="Username must be between 6 and 15 characters" data-error-required="Username is required">
			</div>
			<div class='row'>
				<label for="password">Password</label>
				<input type="text" placeholder="Password" data-type="password" name='password' id='password' data-required="true" data-min="6" data-max="15" data-error-len="Password must be between 8 and 16 characters" data-error-required="Password is required">
			</div>
			<div class='row'>
				<label for="cpassword">Confirm your Password</label>
				<input type="text" placeholder="Confirm your Password" name='cpassword' id='cpassword' data-required="true" data-type="password" data-error-message="Your Password must correspond">
			</div>
			<div class='row'>
				<label for="email">E-mail</label>
				<input type="text" placeholder="E-mail" id='email' name='email' data-required="true" data-type="email" data-error-valid="Your E-mail is not valid" data-error-required="Your E-mail is required">
			</div>
			<div class='row'>
				<label for="cemail">Confirm your E-mail</label>
				<input type="text" placeholder="Confirm your E-mail" id='cemail' name='cemail' data-required="true" data-error-message="Your E-mail must correspond">
			</div>
			<input type="submit" id="register" value="Register">
			<input type="submit" id="login" value="Login">
		</form>
	</div>
</div>

